* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

.header,
.footer,
.body-one {
    background-color: #1f2937;
}

/* Header */
.header-links,
.hero-secondary,
.links {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links ul {
    display: flex;
    gap: 16px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* Body one */

.body-one {
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.hero-desc {
    border: 1px dotted red;
    flex: 1;
}

.hero-img {
    border: 1px dotted red;
    flex: 1;
}

.hero-img img {
    width: 300px;
    height: 150px;
}

.hero-primary {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.btn-one {
    background-color: #3882f6;
}

/* Body two */

.body-two {
    padding: 16px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-two {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cats-info-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.items {
    width: 200px;
}

.items p {
    text-align: justify;
}

.items img {
    width: 200px;
    height: 200px;
    border: 5px black solid;
    border-radius: 15px;
}

/* Body three */

.body-three {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 80px 64px;
}

.quote {
    text-align: justify;
    font-weight: 350;
}

.quoteBy {
    font-weight: 900;
    text-align: right;

}

/* Body four */

.body-four {
    background-color: #3882f6;
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc-four-hero-secondary ul {
    display: flex;
}

/* Footer */