* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

.header,
.footer,
.body-one {
    background-color: #1f2937;
}

/* Header */

.hero-primary {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-links,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

/* Body one */

.btn-one {
    background-color: #3882f6;
}

/* Body two */

.header-two {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

/* Body three */

.body-three {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* Body four */

.body-four {
    background-color: #3882f6;
}

/* Footer */